<h1>
  Add a new person
</h1>


<hr>

<form action="/create_person" method="post">

  <div class="form-group">
    <label for="family_name">
      Family name
    </label>

    <input type="text" id="family_name" name="family_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="gender">
    <input id="gender" class="form-check-input" name="gender" type="checkbox">
    <label for="gender" class="form-check-label">
      Gender
    </label>
  </div>

  <div class="form-group">
    <label for="birth_date">
      Birth date
    </label>

    <input type="text" id="birth_date" name="birth_date" class="form-control">
  </div>

  <div class="form-group">
    <label for="phone_number1">
      Phone number1
    </label>

    <input type="text" id="phone_number1" name="phone_number1" class="form-control">
  </div>

  <div class="form-group">
    <label for="phone_number2">
      Phone number2
    </label>

    <input type="text" id="phone_number2" name="phone_number2" class="form-control">
  </div>

  <div class="form-group">
    <label for="website">
      Website
    </label>

    <input type="text" id="website" name="website" class="form-control">
  </div>

  <div class="form-group">
    <label for="address_id">
      Address
    </label>

    <input type="text" id="address_id" name="address_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create person
  </button>
</form>

<hr>

<a href="/people">
  Go back
</a>
